#landing-page{
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-bar-background {
  color: black;
  background-color: white;
  height: 64px;
  width: 64%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.search-bar-label {
  color: black;
  font-size: 14px;
}

.hover-div {
  display: flex;
  flex-direction: column;
}

#home-search-button {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #FF385C;
  margin-left: 40px;
  margin-right: -40px;
}

#search-bar-inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing-image {
  height: 560px;
  width: 87%;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}

#landing-image-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 34px;
  position: relative;
  top: 70%;
  left: 25%;
  color: black;
  font-weight: 600;
}

#landing-image-button {
  position: relative;
  top: 70%;
  left: 45%;
  width: 145px;
  height: 55px;
  border-radius: 25px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing-image-button-text {
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
  color: linear-gradient(
90deg, #6F019C 0%, #C6017E 135.12%);
}

#refer-a-friend-card{
  height: 500px;
  width: 500px;
  background-color: #EBEBEB;
  border-radius: 10%;

}
