/* TODO Add site wide styles */
body {
  margin: 0;
  width: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  background-color: black;
}
html {
  height: 100%;
}

#root {
  height: 100%;
}

a{
  text-decoration: none;
}
.black {
  position: absolute;
  left: 0;
  right: 0;
  height: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.white {
  position: absolute;
  top: 1175px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1500px;
  background-color: white;
  padding-top: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
