#search-bar-div {
  width: 468px;
  background-color: #f6fafa;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar-div:focus-within{
  border: 2px solid rgb(91, 91, 255);
  border-radius: 5px;
}

#search-bar {
  width: 90%;
  height: 90%;
  border: none;
  background-color: #f6fafa;
}

#search-bar:focus {
  outline: none;
}

#search-results {
  display: flex;
  flex-direction: column;
  background-color: #f6fafa;
  position: absolute;
  width: 35%;
}

#result-sale{
  margin: 5px;
  padding: 5px;
  border: .5px solid #dedede;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

#result-sale:hover {
  box-shadow: 4px 4px 8px #cacaca;
  transition-duration: .2s;
}
